body,
h1,
h2,
h3,
h4,
h5,
h6 {
    /* font-family: 'Noto Sans Thai', sans-serif !important; */
    font-family: 'Sarabun', sans-serif !important;
}

p {
    font-family: 'Sarabun', sans-serif !important;
}

label,
input[type=text],
input[type=email],
input[type=date],
textarea {
    font-size: 1rem !important;
}

.main-panel>.content {
    padding: 78px 30px 30px 30px;
    min-height: calc(100vh - 70px);
}

@media screen and (max-width: 768px) {
    .main-panel .content {
        padding-left: 15px;
        padding-right: 15px;
    }
}

textarea {
    height: auto;
}

.note-popover .popover-content>.note-btn-group,
.note-toolbar>.note-btn-group {
    height: 50px !important;
}

.note-btn-group .note-btn {
    background: #e14eca !important;
    white-space: pre !important;
}

.h-95 {
    height: 95% !important;
}